<head>
    <title> Error: CMA </title>
    <link rel="stylesheet" href="/public/css/pages/error/error.css">
</head>

<div class="jumbotron jumbotron-fluid">
    <div class="container bg-light" id="error-message">
        <h1 class="display-1"><span class="fas fa-exclamation-triangle"></span> {{error}}</h1>
        <p class="lead display-6">Back to <a href="/">Home Page</a></p>
    </div>
</div>