<link rel="stylesheet" href="/public/css/pages/user/user.css">
<div class="container">
    <h1 id="user-greet" class="display-1">Hi {{user.firstName}} !</h1>
</div>


<div class="container" id="order-history">
    <h2>Orders</h2>

    <h3>Upcoming Events</h3>
    <div id="upcoming-orders">
        <ul id="upcoming-orders-list" class="cs-hidden"></ul>
    </div>

    <h3>Past Events</h3>
    <div id="past-orders">
        <ul id="post-orders-list" class="cs-hidden"></ul>
    </div>
</div>

<script>
    const orderHistory = JSON.parse('{{{orderHistory}}}');
</script>

<script src="/public/js/pages/user/profile.js"></script>