.top-movies{
    margin-top: 2%;
    display: block;
}

.top-movie-card{
    /* margin-left: 0.5%;
    margin-right: 0.5%; */
    width: 29rem;
    border-radius: 7%;
    margin-left: 2%;
    margin-right: 2%;
}

.card-img-top{
    height: 17rem;
    border-radius: 7%;
}

.card-img-nw {
    width: 10rem;

}
.card-img-nw{
    height: 17rem;

}

.card-body{
    text-align: center;
}

.now-playing-card{
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

#main {
    padding-top: 80px;
    background: white;
}

.latest-releases-showcase{
    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}

.latest-releases-showcase img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.latest-releases-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}

.cs-hidden{
    overflow: visible !important;
}

#now-playing, #upcoming-movies {
    border-top: 1px solid rgba(53, 53, 53, 0.1);
}

.now-playing-heading, .upcoming-movies-heading {
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}

.now-playing-showcase{
    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}

.now-playing-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: white;
}
.now-playing-box-img{
    width: 100%;
    height: 270px;
}

.now-playing-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.now-playing-box-text h6{
    color: #3a3a3a;
    margin: 0px;
}

.now-playing-box-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.now-playing-box-text p{
    color: #979797;
    margin: 0px;
}


a {
    text-decoration: none;
}