@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.containerSeat {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    /*height: 100vh;*/
    font-family: 'Lato', 'sans-serif';
}

.movie-info {
    margin: 2em !important;
    padding: 0 1em !important;
    display: block;
    color: white;
    width: 100%;
}

.seat {
    background-color: #444451;
    /*height: 26px;*/
    width: 40px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 25px;
    font-size: small;
}

.hidden {
    background-color: #242333;
    height: 26px;
    width: 40px;
    margin: 4px;
}

.row {
    display: flex;
}

.theatreContainer {

}

.theatreContainer select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.theatreContainer {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat.selected {
    background-color: #6feaf6;
    color: black;
}

.seat.occupied {
    background-color: #fff;
    color: black;
}


.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}


.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.continueButton {
    margin-bottom: 50px;
}


p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
}

