<h1 id="movie-name"></h1>

<div id="search-form">

    <label for="calender"></label>

    <input type="date" id="calender" name="calender" >
    <button id="searchBtn">Search</button>
</div>

<div id="show-list"></div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    const slug = '{{slug}}';
</script>
<script src="/public/js/showtimes.js"></script>