<head>
    <link rel="stylesheet" href="/public/css/pages/showtimes/showtimes.css">
</head>

<div class="container">
    <h1 id="movie-name" class="display-1"></h1>

    <div id="search-form" class="form-group" style="display: flex">
        <label for="calender"></label>
        <input type="date" class="form-control" id="calender" name="calender" >
        <button class="btn btn-primary" id="searchBtn">Search</button>
    </div>
    <hr class="my-4">
    <div id="show-list"></div>

</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    const slug = '{{slug}}';
</script>
<script src="/public/js/showtimes.js"></script>