
<head>
    <title>CMA: Home</title>

    <link rel="stylesheet" href="/public/css/pages/home/home.css">
    <link rel="stylesheet" href="/public/css/lightslider/lightslider.css">
</head>


<section id="latest-releases">
    <h2 class="latest-releases-heading">Latest Releases</h2>

    <ul id="latest-releases-list" class="cs-hidden"></ul>
</section>


<section id="now-playing">
    <div class="category-heading-div">
        <h2 class="category-heading">Now Playing</h2>
        <a href="/nowplaying"><p>VIEW ALL </p></a>
    </div>

    <ul id="now-playing-list" class="cs-hidden"></ul>
</section>

<section id="upcoming-movies">

    <div class="category-heading-div">
        <h2 class="category-heading">Upcoming Movies</h2>
        <a href="/upcoming"><p>VIEW ALL </p></a>
    </div>

    <ul id="upcoming-movies-list" class="cs-hidden"></ul>
</section>

<script src="/public/js/lightslider/lightslider.js"></script>
<script src="/public/js/owlcarousel/owl.carousel.min.js"></script>
<script src="/public/js/owlcarousel/owlcarousel-config.js"></script>

<script>
    const latestReleases = JSON.parse('{{{ latestReleases }}}');
    const nowPlayingMovies = JSON.parse('{{{ nowPlayingMovies }}}');
    const upcomingMovies = JSON.parse('{{{ upcomingMovies }}}');
</script>
<script rel="script" src="/public/js/pages/home/home.js"></script>
