
<head>
    <title>Now Playing: CMA</title>
    <link rel="stylesheet" href="/public/css/pages/home/movie-display.css">
</head>


<div class="container d-flex justify-content-center alert alert-dark">
    <h2>Now Playing Movies</h2>
</div>

<section class="now-playing-list"></section>

<script>
    const nowPlayingMovies = JSON.parse('{{{nowPlayingMovies}}}');
</script>
<script rel="script" src="/public/js/pages/home/nowplaying.js"></script>