<head>
    <title>Upcoming: CMA</title>
    <link rel="stylesheet" href="/public/css/pages/home/movie-display.css">
</head>

<div class="container d-flex justify-content-center alert alert-dark">
    <h2>Upcoming Movies</h2>
</div>

<section class="now-playing-list"></section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    const upcomingMovies = JSON.parse('{{{upcomingMovies}}}');
</script>
<script rel="script" src="/public/js/pages/home/upcoming.js"></script>