<head>
    <title>Confirm Purchase: CMA</title>
    <link rel="stylesheet" href="/public/css/pages/checkout/confirm-purchase.css">
</head>

<div class="container">

    <h1 class="heading display-2">Your Order Summary</h1>

    <hr class="my-4">

    <div class="row order-summary">
        <div class="col-4">
            <div class="movie-poster-box">
                <div class="movie-poster-box-img">
                    <img id="movie-poster" src="">
                </div>
            </div>
        </div>
        <div class="col-8">

            <div class="movie-info bg-light">
                <div class="movie-info-sub" >
                    <h3 class="fw-normal">Movie Name:</h3>&nbsp;<h3 id="movie-name" class="fw-bolder"></h3>
                </div>

                <div class="movie-info-sub">
                    <h3 class="fw-normal">Date:</h3>&nbsp;<h3 id="show-date" class="fw-bolder"></h3>
                </div>

                <div class="movie-info-sub">
                    <h3 class="fw-normal">Time:</h3>&nbsp;<h3 id="show-time" class="fw-bolder"></h3>
                </div>

                <div class="movie-info-sub">
                    <h4 class="fw-normal">Theater:</h4>&nbsp;<h4 id="theater-name" class="fw-bolder"></h4>
                </div>

                <div class="movie-info-sub">
                    <h4 class="fw-normal">Format:</h4>&nbsp;<h4 id="format" class="fw-bolder"></h4>
                </div>

                <div class="movie-info-sub">
                    <h4 class="fw-normal">No of Seats:</h4>&nbsp;<h4 id="no-of-seats" class="fw-bolder"></h4>
                </div>
                <!--            <h4 id="audi">Auditorium</h4>-->
                <div class="movie-info-sub">
                    <h4 class="fw-normal">Seats:</h4>&nbsp;<h4 id="seats" class="fw-bolder"></h4>
                </div>

                <hr class="my-4">

                <div class="movie-info-sub">
                    <h3 class="fw-normal">Total Cost: </h3>&nbsp;<h2 id="cost" class="fw-bolder"></h2>
                </div>

            </div>


            <button id="confirm-btn" class="btn btn-primary">Confirm</button>

        </div>
    </div>





</div>




<script>
    const orderSummary = JSON.parse('{{{orderSummary}}}');
</script>
<script src="/public/js/pages/checkout/confirm-purchase.js"></script>