
<head>
    <title></title>
    <link rel="stylesheet" href="/public/css/seatselection.css"/>
</head>

<div class="container">
    <h1 id="movieName" class="display-1"></h1>

    <hr class="my-4">
    <div class="movie-details">
        <h4><span id="theaterName" class="badge bg-dark"></span></h4>
        <h4><span id="showTime" class="badge bg-dark"></span></h4>
        <h4><span id="format" class="badge bg-dark"></span></h4>
    </div>

    <div class="containerSeat bg-light">

        <div id="container-theater">
            <div class="theatreContainer" id="theatreContainer">
                <div class="screen"></div>
            </div>
            <button class="continueButton btn btn-primary" id="continueButton">CONTINUE</button>
        </div>


    </div>

</div>


<script>
    const showDetails = JSON.parse('{{{showDetails}}}');
</script>

<script src="/public/js/seatselection.js"></script>